@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

/* shared css */
.btn{
  background-color: #006A50;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}

/* hero section */
.hero{
  max-width: 1536px;
  background-color: #C6E4D6;
  margin: 80px auto;
  border-radius: 24px;
  padding: 80px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .info p{
  font-size: 24px;
  font-weight: 500;
  color: #0E0E0E;
  opacity: 50%;
  margin-bottom: 16px;
}

.hero .info h1{
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero .info button{
  padding: 17px 34px;
}